body{
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
}
  
.wrapper{
    /*max-width: 800px; */
    margin: 0 auto;
    padding: 20px auto;
}
  
form{
    background-color: #200c0c;
    border: 1px solid #220909 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) auto;
}
  
h1{
    text-align: center;
    color: #333;
}
  
h2{
    margin-bottom: 10px auto;
    color: #333;
}
  
ul{
    list-style: none;
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
  
li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px ;
    width: 320px ; /* Adjust as needed */
    /* max-height: 411px ;*/ /* Adjust as needed */
    border: none;
    box-shadow: none;
}
  
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
button {
    background-color: #4CAF50;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
  
button:hover {
    background-color: #45a049;
}
a{
  
}
.my-masonry-grid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
  }
  
  .post-item {
    margin-bottom: 20px;
    width: 100%; /* or specify your preferred width */
    max-width: 400px; /* or specify your preferred max-width */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .post-item img {
    width: 100%; /* Resim genişliği %100 olarak ayarlanır */
    height: auto; /* Resmin oranını korumak için otomatik yükseklik */
  }

  .background-posts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Arkada olması için z-index'i düşük bir değer yapın */
  }
  
  .background-post-item {
    position: absolute;
    width: 200px; /* veya istediğiniz genişlik */
    height: 200px; /* veya istediğiniz yükseklik */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* İstediğiniz saydamlık değeri */
    animation: fadeInOut 10s infinite linear; /* Animasyonlu efekt */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0.5;
      transform: translateY(0);
    }
    25% {
      opacity: 1;
      transform: translateY(-20px);
    }
    75% {
      opacity: 1;
      transform: translateY(20px);
    }
    100% {
      opacity: 0.5;
      transform: translateY(0);
    }
  }
  