/* Style for the username overlay */
.username-overlay {
  position: absolute;
  bottom: 5px; /* Adjust the bottom spacing as needed */
  left: 5px; /* Adjust the left spacing as needed */
  background-color: rgba(37, 33, 33, 0.8);
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 44%;
}

/* Rest of the existing styles */

body {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px auto;
}

form {
  background-color: #200c0c;
  border: 1px solid #220909 auto;
  padding: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) auto;
}

h1 {
  text-align: center ;
  color: #333 ;
}

h2 {
  margin-bottom: 10px auto; 
  color: #333 ;
}

ul {
  list-style: none ;
  padding: 0 auto;
  display: flex ;
  flex-wrap: wrap ;
}

.post-container {
  bottom: -90px;
  margin: 10px;
  width: 320px ; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  border: none;
  box-shadow: none;
  overflow:clip;
  display: flex ;
  flex-direction: row ;
  position: relative ;
}

.post-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  /*
  max-height: 800px auto; 
  object-fit: cover ;
  */
}

button {
  background-color: #2b2626;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #252121;
}
