/* Style for the username overlay */
.username-overlay {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: rgba(37, 33, 33, 0.8);
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 10px; /* Ovalleştirmek için istediğiniz piksel değeri */
}

/* Rest of the existing styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0; /* Düz mat gri arka plan rengi */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  overflow: visible;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px auto;
}

form {
  background-color: #200c0c;
  border: 1px solid #220909 auto;
  padding: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) auto;
}

h1 {
  text-align: center ;
  color: #333 ;
}

h2 {
  margin-bottom: 10px auto; 
  color: #333 ;
}

ul {
  list-style: none ;
  padding: 0 auto;
  display: flex ;
  flex-wrap: wrap ;
}


button {
  background-color: #2b2626;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #252121;
}


.posts-list {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* İstediğiniz sütun genişliğine göre ayarlayın */
  row-gap: 20px; /* İlgili elemanlar arasındaki boşluk */
  column-gap: 20px; /* Sütunlar arasındaki boşluk */
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px;
  background-color: #120d0d; /* Mat gri arka plan rengi */
  margin-top: 80px;
}

.post-container {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 16px 16px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
  width: calc(30% - 16px); 
  margin: 20px; 
  box-sizing: border-box; 
}

.post-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px; /* Ovalleştirmek için istediğiniz piksel değeri */
}

.post-container:hover {
  transform: scale(1.08);
}

/* Dikey kaydırma çubuğu */
 ::-webkit-scrollbar {
  width: 15px; /* Çubuk genişliği */
}

::-webkit-scrollbar-track {
  background: #141212; /* Çubuk arkaplan rengi */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Çubuk rengi */
  border-radius: 6px; /* Çubuk köşe yuvarlaklığı */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Çubuk rengi (hover durumunda) */
}

/* Yatay kaydırma çubuğu (isteğe bağlı) */
::-webkit-scrollbar-track-horizontal {
  background: #000000; /* Çubuk arkaplan rengi (yatay) */
}

::-webkit-scrollbar-thumb-horizontal {
  background: #888; /* Çubuk rengi (yatay) */
  border-radius: 6px; /* Çubuk köşe yuvarlaklığı (yatay) */
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background: #555; /* Çubuk rengi (yatay, hover durumunda) */
}

.post-menu {
  position: fixed;
  top: 75px; /* Header'ın yüksekliği kadar bir mesafe bırakın */
  left: 0px; /* Header'dan istediğiniz uzaklıkta bir mesafe bırakın */
  height: calc(100vh - 60px); /* Header'ın yüksekliği kadar düşürülmüş viewport yüksekliği */
  width: 190px; /* İstediğiniz genişliği ayarlayın */
  background-color: #1e1919; /* İstediğiniz arkaplan rengini ayarlayın */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(205, 205, 205, 0.1); /* İsteğe bağlı olarak gölge ekleyebilirsiniz */
  overflow-y: auto; /* Eğer menü içeriği sığmazsa kaydırma çubuğu ekleyin */
  
}

.post-menu h2 {
  color: #d0c4c4; /* İstediğiniz başlık rengini ayarlayın */
  
}

.post-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.post-menu li {
  margin-bottom: 10px;
  cursor:pointer;
}

.post-menu a {
  text-decoration: none;
  color: #ddd; /* İstediğiniz bağlantı rengini ayarlayın */
}

.post-menu a:hover {
  color: #fff; /* İstediğiniz bağlantı rengini hover durumunda ayarlayın */
}


.selected-category {
  margin-top: 100px; /* İsteğe bağlı bir üst boşluk ekleyebilirsiniz */
  margin-left: 200px; /* İsteğe bağlı bir üst boşluk ekleyebilirsiniz */
  padding: 10px;
  background-color: #a9a9a9; /* Arka plan rengi */
  border: 1px solid #ccc; /* Kenarlık rengi ve kalınlığı */
  border-radius: 5px; /* Köşeleri yuvarlama */
  
}

.selected-category h3 {
  color: #333; /* Başlık yazı rengi */
  font-size: 18px; /* Başlık yazı boyutu */
}

.like-button{
  position: fixed;
  bottom: 5px;
  right: 8px;
  background: none; /* Arka planı kaldır */
  border: none; /* Çerçeveyi kaldır */
  padding: 0; /* İç içe gelen alanları kaldır */
  cursor: pointer; /* İmleci bir el simgesine dönüştür */

}


/* Buton içindeki img elementlerine uygulanacak stil */
.like-button img {
  width: 22px; /* İstediğiniz genişlik değeri */
  height: 22px; /* İstediğiniz yükseklik değeri */
}

.likenumber {
  position: fixed;
  bottom: 5px;
  right: 48px;
  background: none; /* Arka planı kaldır */
  border: none; /* Çerçeveyi kaldır */
  padding: 0; /* İç içe gelen alanları kaldır */
}