.username-overlay {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: rgba(37, 33, 33, 0.8);
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 10px; 
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  overflow: visible;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px auto;
}

form {
  background-color: #200c0c;
  border: 1px solid #220909 auto;
  padding: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) auto;
}

h1 {
  text-align: center ;
  color: #333 ;
}

h2 {
  margin-bottom: 10px auto; 
  color: #333 ;
}

ul {
  list-style: none ;
  padding: 0 auto;
  display: flex ;
  flex-wrap: wrap ;
}


button {
  background-color: #2b2626;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #252121;
}


.posts-list {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  column-gap: 20px;
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px;
  background-color: #120d0d; 
  margin-top: 80px;
}

.post-container {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 16px 16px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
  width: calc(30% - 16px); 
  margin: 20px; 
  box-sizing: border-box; 
}

.post-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px; 
}

.post-container:hover {
  transform: scale(1.08);
}

 ::-webkit-scrollbar {
  width: 15px; 
}

::-webkit-scrollbar-track {
  background: #141212; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-track-horizontal {
  background: #000000; 
}

::-webkit-scrollbar-thumb-horizontal {
  background: #888;
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background: #555; 
}

.post-menu {
  position: fixed;
  top: 75px; 
  left: 0px; 
  height: calc(100vh - 60px); 
  width: 190px; 
  background-color: #1e1919; 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(205, 205, 205, 0.1); 
  overflow-y: auto; 
  
}

.post-menu h2 {
  color: #d0c4c4; 
  
}

.post-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.post-menu li {
  margin-bottom: 10px;
  cursor:pointer;
}

.post-menu a {
  text-decoration: none;
  color: #ddd; 
}

.post-menu a:hover {
  color: #fff; 
}


.selected-category {
  margin-top: 100px; 
  margin-left: 200px; 
  padding: 10px;
  background-color: #a9a9a9; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  
}

.selected-category h3 {
  color: #333;
  font-size: 18px; 
}

.like-button{
  position: fixed;
  bottom: 5px;
  right: 8px;
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 

}



.like-button img {
  width: 22px; 
  height: 22px; 
}

.likenumber {
  position: fixed;
  bottom: 5px;
  right: 48px;
  background: none; 
  border: none;
  padding: 0; 
}

.gri-image {
  position: fixed ;
  bottom: 5px; 
  right: 10px; 
  width: 55px; 
  height: 50px; 
}
