.profiless-item {
  margin: 0px;
  width: 100%;
}

.profiless-info {
  display: flex;
  align-items: center;
}

.profiless-details {
  display: flex;
  flex-direction: column; /* Displaying username under profile picture */
  align-items: center; /* Center aligning username */
  text-align: center; /* Center aligning text */
}

.profiless-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px; /* Adjusted margin between profile picture and username */
}

.profiless-username {
  font-size: 18px;
  font-weight: bold;
  border:none;
}

.profiless-banner {
  width: 50%;
  height: 310%;
  border-radius: 8px;
}
