@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login-container .body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background:url('../images/night2.jpg');*/
  background-size: cover;
  background-position: center;
  
}

.login-container form {
  background-color: #161616;
  border: 1px solid #555;
  padding: 20px;
  box-shadow: 10px 10px 50px  rgba(255, 254, 254, 0.1);
  text-align: center;
  border-radius: 15px;
}

.login-container .wrapper{
  width: 420px;
  background: transparent;
  border:2px solid rgba(255,255,255,.2);
  backdrop-filter:blur(1000px);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.login-container .wrapper h1{
  font-size: 36px;
  text-align: center;
}

.login-container .wrapper .inputbox{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.login-container .input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border:2px solid rgba(255,255,255,.2);
  border-radius: 40px;
  font-size: 16px;
  color:#fff;
  padding: 20px 45px 20px 20px;
  margin-bottom: 15px;


}

.login-container .input-box input::placeholder{
  color:#fff;

}
.login-container .login-container {
  position: relative;
  width: 420px;
  margin: auto;
}

.login-container .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.login-container .wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px 0 15px;
}
.login-container .remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;

}
.remember-forgot a{
  color:#fff;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.login-container .wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  font-size: 16px;
  color:#333;
  font-weight: 600;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  
}
.register-link p a {
  color:#fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;

}

.login-container .body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  overflow: hidden;
}

.login-container .wrapper {
  position: relative;
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  box-shadow: 0 0 10px rgba(238, 235, 235, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  
}

.login-container .wrapper img {
  position: absolute;
  width: 100px;
  height: auto;
  opacity: 0.6;
  animation: moveImage 15s infinite alternate linear;
  border-radius: 15%; /* Oval kenarlar için */
  z-index: -100;
}

@keyframes moveImage {
  0%, 100% {
    transform: translate(0, 200px) scale(0.5);
  }
  25% {
    transform: translate(800px, 0) scale(0.8);
  }
  50% {
    transform: translate(0, -300px) scale(1.0);
  }
  75% {
    transform: translate(-300px, 0) scale(0.9);
  }
}
